{% extends "base.html" %}
{% load static %}
{% block content %}
     <link rel="stylesheet" href="{% static 'styles.css' %}">
    <style>
        body {
            margin: 0;
            display: flex;
            height: 100vh;
        }
        #root{
            width:33vw;
            height:100vh;
        }
        .right-panel{
            width:67vw;
            height:100vh;
            float:right;
        }
    </style>
    <!-- 仅修改这一行：将原 <div class="row"> 替换为 React 挂载点 -->
    <div id="root" style="display:inline-block;"></div>
    <div class="right-panel" style="display:inline-block;">
        <iframe src="http://127.0.0.1:9090"
            height="100%"
            width="100%"
            sandbox="allow-same-origin allow-scripts allow-popups allow-forms"
            allow="clipboard-read;clipboard-write"
            referrerpolicy="same-origin"
            loading="eager"
            allow-downloads>
        </iframe>
    </div>
    <script type="module" src="{% static 'index.js' %}"></script>
{% endblock %}